:root {
  --branco: #ffffff;
  --preto: #000000;
  --preto-semi-transparent: #000000f5;
  --vermelho: #e53939;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: var(--preto);
  color: var(--branco);
  font-family: "Times New Roman", Times, serif;
  font-size: 1.92rem;
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.4s;
}

h1 {
  font-size: 8.26rem;
}

h2 {
  font-size: 5.73rem;
  border-bottom: 1px solid var(--vermelho);
  align-self: baseline;

  &.direita {
    align-self: flex-end;
  }
}

h3 {
  font-size: 2.76rem;
}

section {
  scroll-margin-top: 100px;
}

main {
  display: flex;
  flex-flow: column;
  gap: 15rem;
}

.secao {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 6.1rem;
}

.container {
  max-width: 100rem;
}

.realce {
  color: var(--vermelho);
  font-weight: 700;
}

svg {
  fill: white;
  transition: fill 0.4s;
}

svg:hover {
  fill: var(--vermelho);
}

.icone-bg {
  opacity: 0.4;
  position: absolute;
  z-index: -1;

  &.esquerda {
    top: 0;
    left: 0;
    transform: translateX(-35rem);
  }

  &.direita {
    right: 0;
    bottom: 0;
    transform: translateX(35rem);
  }
}
