h1 {
  font-size: 6.88rem;
}

h2 {
  font-size: 3.98rem;
}

h3 {
  font-size: 1.76rem;
}

.sobre-mim {
  & .container {
    & .bloco-sobre {
      margin-top: 2rem;
      flex-flow: row wrap;
    }
  }
}

.icone-bg {
  &.esquerda.arrow {
    transform: translateX(-7rem);
    width: 15rem;
  }

  &.direita.arrow {
    transform: translateX(7rem);
    width: 15rem;
  }
}
