.cabecalho {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--preto-semi-transparent);

  position: sticky;
  z-index: 9999;
  top: 0;
  left: 0;

  & .navegacao {
    display: flex;
    gap: 5rem;
    font-weight: 700;

    & a {
      transition: border-bottom 0.4s, color 0.4s;
      border-bottom: 1px solid var(--preto);

      &:hover,
      &:active {
        color: var(--vermelho);
        border-bottom: 1px solid var(--branco);
      }
    }
  }

  & .logo-nav {
    margin-left: 3rem;

    & .nome {
      display: none;
    }
  }

  & .nav-icones {
    cursor: pointer;
    display: none;
  }
}

.home-hero {
  background-image: url(../assets/png/black-red2.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 75rem;
  position: relative;

  .container {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;

    & .social {
      display: flex;
      gap: 1rem;
      position: absolute;
      border-radius: 1rem;
      bottom: 0;
      padding: 1rem;
      transform: translateY(2.5rem);
      background-color: var(--branco);

      & a {
        border-radius: 50%;
        display: flex;
        width: 3rem;

        & svg {
          fill: var(--preto);

          &:hover {
            fill: var(--vermelho);
          }
        }
      }
    }
  }
}

.sobre-mim {
  overflow: hidden;
  & .container {
    position: relative;
    display: flex;
    flex-flow: column;
    gap: 2rem;

    & h2 {
      border-bottom: 1px solid var(--vermelho);
    }

    & .bloco-sobre {
      display: flex;

      & .img-perfil {
        align-self: center;
        width: 40rem;

        & img {
          width: 100%;
          object-fit: cover; /* Cobre todo o espaço da div sem distorcer a imagem */
        }
      }

      & .sobre {
        display: flex;
        flex-flow: column;
        align-items: center;
        gap: 2rem;
        flex: 1;

        & h2 {
          align-self: flex-end;
        }
      }
    }

    & .bloco-skills {
      display: flex;
      flex-flow: column wrap;
      gap: 2rem;

      & h2 {
        align-self: baseline;
      }

      & .skill {
        display: flex;
        flex-flow: row wrap;
        gap: 1rem;

        & svg {
          width: 10rem;
        }
      }
    }
  }
}
